body {
  background: none;
}
#active_doubt-cntnr {
  position: relative;
  padding: 10px;
  width: 70%;
  margin-left: 25%;
  height: 80vh;
  margin-top: 5%;
  /* background-color: red; */
  /* background: rgba(12, 11, 11, 0.1); */
  border-radius: 15px;
  backdrop-filter: blur(12px);
  transition: 0.5s;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#active_doubt-cntnr::-webkit-scrollbar {
  display: none;
}
.doubt-Card {
  /* position: relative; */
  width: 76%;
  background-color: rgb(165, 165, 165);
  height: 17%;
  top: 35%;
  margin-top: 15px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  border-radius: 10px;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #1a2588
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.accept-btn {
  background: rgb(236, 14, 125);
  padding: 4px 27px;
  margin-top: -10px;
  /* border-radius: 8px; */
  letter-spacing: 1px;
  font-size: 0.86rem;
  /* font-weight: bold; */
  box-shadow: 0px 0px 5px white;
}
.accept-btn:hover {
  background: rgb(190, 10, 106);
}

.inner-div {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.asked-by {
  font-size: 0.7rem;
}
.div2 {
  margin-top: -10px;
}
.user-name {
  font-weight: bolder;
  color: rgb(36, 231, 133);
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  text-shadow: 10px 10px 40px white;
}
.title-name {
  color: white;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0px 0px 8px rgb(78, 76, 76);
}
.desc {
  color: rgb(184, 179, 179);
  font-size: 1rem;
}
.asked-by {
  color: white;
}
