body{
  font-family: "Montserrat", sans-serif;
  background-color: none;
}
#dashboard{
  background: none;
  width:80%;
  height: 23vh;
  margin-left: 20%;
  margin-top: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dashboard-div{
  background-color: rgb(31, 128, 158);
  box-shadow: 0px 0px 10px rgb(3, 70, 109);
  border-radius: 10px;
  height: 100%;
  width: 22%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #7b4397;  /* fallback for old browsers */
background: #00c6ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
text-shadow: 0px 0px 20px black;
}

h4{
text-shadow: 0px 0px 20px black;
margin-bottom: -5px;
color: rgb(238, 238, 238);

}
#data{
  font-size: 2.2rem;
  letter-spacing: 4px;
margin-bottom: 10px;

}
.title-name{
    font-weight: bolder;
  color: rgb(36, 231, 133);
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  /* text-shadow: 10px 10px 40px white; */
}
.doubt-desc{
  color:rgb(255, 189, 6);
  text-shadow: 10px 10px 40px black;
  font-weight: 700;
  font-size: 1rem;
}

.desc{
  color: white;
  font-size: .8rem;
}
#ta-report{
  position: relative;
  padding: 10px;
  width: 70%;
  margin-left: 25%;
  height: 46vh;
  margin-top: 1%;
  border-radius: 15px;
  backdrop-filter: blur(12px);
  transition: 0.5s;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
}
#ta-report::-webkit-scrollbar {
  display: none;
}
.doubt-Card {
  height: 26%;
}
#Ta-header{
  text-align: center;
  color: white;
  margin-left: 20%;
  margin-top: 3%;
  letter-spacing: 1px;
  text-shadow: 10px 10px 40px black;

}