<style>
     body{
      margin:0;
   }
   header{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0px;
      text-align: center;
      background-color: midnightblue;
      color:white;
      width:100%;
      height: 8%;
   }
  button{
    padding:4px;
    margin: 4px;
    font-size: 0.8rem;
  }

  button a{
    text-decoration: none;
    color:black;
  }
  a{
    text-decoration: none;
    color:white;
  }
  ul{
    list-style-type:none;
    position: absolute;
    right:20px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul li{
    margin-left: 2px;
    /* display: inline; */
    
  }
</style>


<header >
  <a href="/"><h2> ChatIO | Home </h2></a>

  <!-- <ul>
    <% if (locals.user){ %>

          <li>
            <a href="/users/profile"><h3><%= user.name %></h3></a>
          </li>
          
          <li>
            <button><a href="/users/sign-out">Sign Out</a></button>
          </li>

    <% }else{ %>
      <li>
        <button><a href="/users/sign-in">Sign In</a></button>
      </li>

      <li>
        <button><a href="/users/sign-up">Sign Up</a></button>
      </li>

      <% } %>
  </ul> -->
</header>