<link rel="stylesheet" href="/css/header.css">


<header >
  <a id="header-title" href="/"><h2> Doubt IO || Home </h2></a>

  <ul>
    <% if (locals.user){ %>

          <li>
            <a href="/login"><h3><%= user.name %></h3></a>
          </li>
          
          <li>
            <button><a href="/sign-out">Sign Out</a></button>
          </li>

    <% }else{ %>
      <li>
        <button><a href="/login">Sign In</a></button>
      </li>

      <li>
        <button><a href="/register">Sign Up</a></button>
      </li>

      <% } %>
  </ul>
</header>