<link rel="stylesheet" href="/css/faculty_home.css">

<%- include("mentor_aside.ejs") -%>
<div id="dashboard">

  <div class="dashboard-div">
    <h4>Avg. Rating</h4>
    <h2 id="data">4.95</h2>

  </div>

  <div class="dashboard-div">
    <h4>Total Doubt Resolved</h4>
    <h2 id="data">1800</h2>

  </div>
  <div class="dashboard-div">
    <h4>Total Doubt Esclated</h4>
    <h2 id="data">23</h2>


  </div>
  <div class="dashboard-div">
    <h4>Avg. resolved time</h4>
    <h2 id="data">12 min</h2>

  </div>
</div>