<link rel="stylesheet" href="/css/faculty_home.css">

<%- include("mentor_aside.ejs") -%>
<div id="dashboard">

  <div class="dashboard-div">
    <span>Avg. Rating</span>
    <h2>4.95</h2>

  </div>

  <div class="dashboard-div">
    <span>Total Doubt Resolved</span>
    <h2>1800</h2>

  </div>
  <div class="dashboard-div">
    <span>Total Doubt Esclated</span>
    <h2>23</h2>


  </div>
  <div class="dashboard-div">
    <span>Avg. resolved time</span>
    <h2>12 min</h2>

  </div>
</div>