<link rel="stylesheet" href="/css/student_home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />


<aside>
      <div>

        <a href="/mentor/home"> <i class="fas fa-home"></i> Home </a></br>

      </div>

      <div>

        <a href="/mentor/active-doubts-dummy"><i class="fab fa-adn"></i> Active Doubts </a>

      </div>

      <div>

        <a href="/mentor/dashboard"> <i class="fas fa-address-card"></i> Dashboard</a>

      </div>


    </aside>