

<div id="profile">
   
  <%- include("aside.ejs") -%>

    
  <div id="doubt-box">
    <form action="/doubt/create" method="POST">
    <div class="inner-div">
        <label for="title">Title:</label></br>
        <input name="title" autocomplete="off" placeholder="Enter the title Here.." type="text" class="title-input">
        <input type="hidden" value="Not Resolve" name="status">
      </div>
      <br>

      <div class="inner-div">
        <label for="title">Description:</label></br>
        <textarea name="description" autocomplete="off" placeholder="What issue you are facing?" name="" id="desc" cols="30" rows="10"></textarea>
      </div>
      <br>


      <button type="submit" id="btn">Ask Doubt</button>
    </div>

    


  </form>
</div>