<style>
  #Title{
    text-align: center;
  }
  #asked-by{
    text-align: right;
  }
  .inner-div{
    border-bottom: 1px solid black;
  }
  .comment-input{
  width:80%;
  height: 5vh;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 15px white;
  }
  #cmt-btn{
  margin-left: 2%;
  border-radius: 30px;
  padding: 8px 30px;
  color:white;
  background-color: rgb(112, 4, 212);
  border: none;
  box-shadow: 0px 0px 15px  rgb(255, 202, 233);
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 0.75rem;
  right:0
  }
 
</style>



<%- include("aside.ejs") %>




<div style="margin-top: 5%;" id="doubt-box">
  <div class="inner-div">
        <h3 id="Title">This the title of the doubt:</h3>
        <!-- <label for="title">Title:</label></br> -->
        <label for="title">Description:</label></br>
        <p>this is the Description of the doubt!!</p>

        <p id = "asked-by">Asked by: chandan</span>
        
      </div>
      <br>


      <span>this the first comment</span>
      <form action="">
        <input class="comment-input" type="text" placeholder="Type the comment here....">
        <input id="cmt-btn" type="submit" value="Publish">
      </form>




    </div>